html{
    scroll-behavior: smooth;  
}
.nav {
  background-color: teal;
  list-style-type: none;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.nav li a {
  font-family: Arial, Helvetica, sans-serif;  
  text-decoration: none;
  color: rgb(223, 217, 217);
}
p{
    font-family: Arial, Helvetica, sans-serif;
   
    color: black;
}